body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.navbar {
    padding: 15px;
    background-color: #850044;
}

.navbar-nav li a {
    color: white !important;
}

.nav-pills {
    gap: 15px;
}

.nav-pills > li > a:hover {
    background-color: white !important;
    color: black !important;
}

.container-fluid {
    min-height: 100%;
    background-image: url("resources/chess-board.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 56px; /* Footer height */
}

h1 {
    color: white;
    background-color: #850044;
    padding: 8px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.card {
    color: black;
    background-color: white;
    border: 5px solid #850044;
    max-width: 650px;
    padding: 12px;
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #850044;
    width: 100%;
}

.footer-container {
    padding-left: 15px;
}

/* index.html */

#puzzle {
    border: 5px solid #850044;
    border-radius: 5px;
    width: 400px;
    height: 444px;
}

/* photos.html */

#carousel {
    border: 5px solid #850044;
    border-radius: 5px;
    width: 600px;
    margin-bottom: 10px;
}

.carousel-item img {
    height: 400px;
}

/* Smaller screens */

@media only screen and (max-width: 575px) {
    body {
        overflow: visible;
    }

    #puzzle {
        width: 300px;
        height: 344px;
    }

    .container-fluid {
        margin-bottom: 0;
    }

    .nav-link {
        padding: 8px 10px;
    }

    #carousel {
        width: 300px;
    }

    .carousel-item img {
        height: 200px;
    }
}