body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent !important;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

.navbar {
    background-color: #850044;
    justify-content: space-between;
}

.nav li a {
    color: white !important;
}

.nav-pills {
    gap: 15px;
}
 
.nav-pills > li > a {
    background-color: transparent !important;
    border: 1px solid white;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.nav-pills > li > a:hover {
    background-color: white !important;
    color: black !important;
} 

#container {
    min-height: 100%;
    background-image: url("chess-board.jpg");
    background-size: cover;
    background-position: center;
}

#page {
    text-align: center;
    margin-top: 50px;
}

#puzzle {
    border: 10px solid #850044;
}

h1 {
    margin-bottom: 0;
}